Package: zenoss-core-425-2108
Version: 03c
License: unknown
Vendor: root@ubuntu
Architecture: amd64
Maintainer: <root@ubuntu>
Installed-Size: 476530
Section: default
Priority: extra
Homepage: http://example.com/no-uri-given
Description: no description given
